<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let i of allinsights">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{i.subtitle}}</ion-card-subtitle>
          <ion-card-title>{{i.title}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{i.text}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
