table,th,td{
    border: 2px solid;
    border-color: black SOLID;
    /* border-style: solid; */
    padding : 20px;
}
table{
    /* padding-left: 40px; */
    overflow-x: auto;
   
}
tr:hover {background-color:red;}