<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Saheli
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Saheli</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>Select Date: </ion-label>
      <ion-datetime [(ngModel)]="mydate" value="2019-10-01T15:43:40.394Z" display-timezone="utc"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <h1>{{mydate | date}}</h1>
    </ion-item>
    
  </ion-list>
</ion-content>
